<nav class="main-nav" th:fragment="nav">
    <ul>
        <li>
            <a th:href="@{/}">Home</a>
        </li>

        <th:block th:if="${!@currentUser.isLoggedIn()}">
            <li >
            <a th:href="@{/users/login}">Login</a>
            </li>
            <li>
                <a th:href="@{/users/register}">Register</a>
            </li>
            <li>
                <a href="/">About</a>
            </li>
        </th:block>


        <th:block th:if="${@currentUser.isLoggedIn()}">
            <li>
                <a href="/">Add new route</a>
            </li>
            <li th:if="${!@currentUser.isAdmin()}">
                <a th:href="@{/users/profile/{id}(id = ${@currentUser.getUser().getId()})}">Profile</a>
            </li>
            <li th:if="${@currentUser.isAdmin()}">
                <a href="/">Admin</a>
            </li>
            <li>
                <a th:href="@{/users/logout}">Logout</a>
            </li>
        </th:block>

    </ul>
</nav>