.flex-container {
    height: 200px;
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
}

.flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;
}

.flex-container.flex-start {
    align-items: flex-start;
}

.flex-container.center {
    align-items: center;
}

.flex-container.flex-end {
    align-items: flex-end;
}

.flex-container.baseline {
    align-items: baseline;
}