@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 16px 'Inter', sans-serif;
    padding: 4em;
    background-color: #D9D9D9;
}

div.container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    gap: 2em;
}

div.container a {
    text-decoration: none;
    color: inherit;
}

div.container div.card {
    max-width: 450px;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);
    
}

div.container div.card div.content {
    padding: 2em;
}

div.container div.card > img {
    width: 100%;
    height: 280px;
}

div.container div.card div.content > header {
    padding-bottom: 1em;
}

div.container div.card div.content > header h4 {
    padding-bottom: 0.5em;
    opacity: 0.5;
}

div.container div.card div.content > header h2 {
    font-weight: normal;
}

div.container div.card div.content > section.description p {
    opacity: 0.8;
    padding-bottom: 2em;
}



div.container div.card div.content > footer::before {
    display: block;
    content: ' ';
    width: 100%;
    height: 0.1em;
    background-color: #6C6C6C;
    margin-bottom: 1em;
}


div.container div.card div.content > footer .media {
    display: inline-block;
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

div.container div.card div.content > footer .media img {
    width: 100%;
}

div.container div.card div.content > footer .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.container div.card div.content > footer .footer-content .avatar-and-name {
    display: flex;
    align-items: center;
}

div.container div.card div.content > footer .footer-content .avatar-and-name span {
    margin-left: 0.5em;
}

div.container div.card div.content > footer .footer-content > span {
    opacity: 0.5;
} 

