div {
    border: 2px solid #000;
    padding: 1em 2em 1em 2em;
    margin-bottom: 2em;
}

.fixed {
    width: 300px;
}

.percentage {
    width: 50%;
}

.viewport {
    width: 50vw;
}

.min-max {
    min-width: 100px;
    max-width: 300px;
}