html {
    font-size: 16px;
    line-height: 1.5;
    font-family: Lato, sans-serif;
}

body {
    margin-left: 0.5em;
    margin-right: 1em;
}

p, ol, ul, ul {
    padding-bottom: 1.5rem;
}

ol, ul {
    padding-left: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

hr {
    margin: 1em 0;
}

ul ul, ul ol, ol ul, ol ol  {
    padding-bottom: 0;
}

ul {
    list-style: square;
}

ul ul {
    list-style:disc;
}
ul ul ul {
    list-style: circle;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1.2em;
}

th, td {
    border: 1px solid #cccccc;
    text-align: left;
    padding: 0.5rem 0.5rem;
}

th {
    background-color: #b8b3b3;
}

tbody tr:nth-child(even) {
    background-color: #e7e5e5;
}

blockquote {
    font-style: italic;
    border-left: 5px solid #DDD;
    padding-left: 1.5em;
    margin: 1.5em;
    margin-top: 0;
}

blockquote p:last-of-type {
    padding-bottom: 0;
}

blockquote p.author {
    text-align: right;
}