p.text-highlight {
    color: #007BFF;
    font-size: 18px;
}

div#special-box {
    background-color: #FFC107;
    padding: 2px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    
}

.important-item {
    color: #17A2B8;
}

.special-highlight{
    color: red;
    font-style: italic;
    font-weight: bold;
}

.page-link {
    color: blue;
}

a[href^="http"] {
    border-bottom: 1px solid orange;
    color: orange;
}

p.text-style.text-color {
    font-style: italic;
    color:blue;
}